* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 70%;
    font-family: Helvetica sans-serif;
    background: url(https://de7a582398aedfeb1124c0efa20a9a8b7e726512.googledrive.com/host/0B2tRVXr4lGU1dk9HRDFUNEIxTlk) repeat-x top;
}

#page-wrap{
    width: 800px;
    margin: 0 auto;
}
/*Begin Header*/
ul#nav {
    margin-left: 125px;
    background: url(https://702fa7d0f8dcddd0b5bc11329f23bbb9da1d7c9a.googledrive.com/host/0B2tRVXr4lGU1UHRUZXJSRWFxREk) no-repeat;
    height: 223px; 
    padding-left: 45px;
    list-style: none;
}

/*End Header*/

/*Begin Main Content*/
#main-content {
    padding-bottom: 200px;
    padding-top: 20px;
    height: 100%;
}

.pictureHolder {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    -moz-box-shadow:    5px 6px 0 0 gray;
    -webkit-box-shadow: 5px 6px 0 0 gray;
    box-shadow:         5px 6px 0 0 gray;
    
    
}

.placeHolder {
    background: green;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    border-radius: 10%;
    -moz-box-shadow:    5px 6px 0 0 gray;
    -webkit-box-shadow: 5px 6px 0 0 gray;
    box-shadow:         5px 6px 0 0 gray;
}

.placeHolder p {
    font-size: 2em;
    color: white;
    margin-top: 80px;
    position: relative;
    padding-bottom: 160px;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

img {
    height: 100px;
    width: 100px;
    border-radius: 10%;
}

#col-left{
    padding: 5px;   
}




#col-right{
   padding: 5px; 
}

/*End Main Content*/


#footer {
    background-color: #FF004A;
    color: white;
    padding: 10px 0;
    border-top: 2px solid white;
    text-align: center;
    clear: both;
}
